* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "futura pt" sans-serif;
  overflow-x: hidden;
}

header {
  z-index: 1;
}
header a {
  text-decoration: none;
}

.section1 {
  position: relative;
  height: 100vh;
  width: 100%;
  z-index: 0;
}
.section1 .image-changing-container {
  width: 100%;
  min-height: 100vh;
  scroll-behavior: smooth;
}
.section1 .image-changing-container .light-image {
  background-image: url("https://images.ctfassets.net/tbduj203nkkk/5x1meX3eJUuEI4q2G4ySoE/de9ce7aade9cf5bac063231fbbdf3cf2/LightLogoWhite.png?w=210&fm=webp&q=85");
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 210px;
  height: 15%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 12;
}
.section1 .image-changing-container .bg1,
.section1 .image-changing-container .bg2,
.section1 .image-changing-container .bg3 {
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute;
}
.section1 .image-changing-container .bg1 {
  background-image: url("https://images.ctfassets.net/tbduj203nkkk/3MpZnFzL8wmnD4LsWwypAg/450349999afe1fb2467d867963f00728/Export.00_00_00_00.Still003.jpg?w=1600&fm=webp&q=85");
}
.section1 .image-changing-container .bg2 {
  background-image: url("https://images.ctfassets.net/tbduj203nkkk/S27wYa69SmkUqiceW24iM/501239ba0c7ca1d78bbf669f8ea54195/LightBG__1_of_1_-138.jpg?w=1600&fm=webp&q=85");
}
.section1 .image-changing-container .bg3 {
  background-image: url("https://images.ctfassets.net/tbduj203nkkk/73n6XQ9WXeYhjwECzyivfz/1378dd3a31cae41bce83eb883f75a971/000036430035.jpg?w=1600&fm=webp&q=85");
}
.section1 .image-changing-container .title {
  width: 18ch;
  font-weight: 700;
  font-size: 48px;
  z-index: 12;
}
.section1 .image-changing-container .play-button {
  background-image: url("https://www.thelightphone.com/assets/images/play-button-white.svg");
  background-repeat: no-repeat;
  width: 110px;
  height: 15%;
  cursor: pointer;
  z-index: 12;
}
.section1 .down-arrow {
  width: 24px;
  height: 18px;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}