* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'futura pt' sans-serif;
    overflow-y: hidden;
}

header {
    z-index: 1;
}

.section1 {
    position: relative;
    height: 100vh;
    width: 100%;
    z-index: 0;

    .light-image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% ,-50%);
    }

    .down-arrow {
        width: 24px;
        height: 18px;
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}